[Desktop Entry]
Name=HTTP Toolkit
Comment=HTTP(S) debugging proxy, analyzer and client
GenericName=HTTP Toolkit
Exec=httptoolkit --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Icon=httptoolkit
Type=Application
StartupNotify=true
Categories=Development;Network;
