[Desktop Entry]
Name=Obsidian
Exec=env OBSIDIAN_USE_WAYLAND=1 /usr/bin/obsidian %U -enable-features=UseOzonePlatform -ozone-platform=wayland 
Terminal=false
Type=Application
Icon=obsidian
Comment=Obsidian
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
