[Desktop Entry]
Name=Obsidian
Exec="OBSIDIAN_USE_WAYLAND=1 /usr/bin/obsidian %U"
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
